<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md4
        sm12
      >
        <material-card
          color="green"
          title="New Artist"
        >
          <v-form @submit.prevent="addArtist">
            <v-container py-0>
              <v-layout wrap>
                <v-flex md12>
                  <v-text-field
                    :rules="[() => !!newArtistName || 'This field is required']"
                    class="purple-input"
                    label="Name"
                    v-model="newArtistName"
                    ref="newArtistName"
                  />
                </v-flex>
                <v-flex
                  xs12
                  text-xs-right
                >
                  <v-btn
                    class="mx-0 font-weight-light"
                    color="success"
                    type="submit"
                  >
                    Add
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </material-card>
      </v-flex>
      <v-flex
        md8
        sm12
      >
        <material-card
          color="green"
          title="Artists"
        >
          <v-data-table
            :headers="headers"
            :items="artists"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <nuxt-link :to="{ name: 'artists-id', params: { id: item.id } }">
                  more...
                </nuxt-link>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  async fetch({ store }) {
    await store.dispatch('artists/fetchArtists');
  },
  data: () => ({
    newArtistName: '',
    headers: [
      {
        text: 'Id',
        value: 'id'
      },
      {
        text: 'Name',
        value: 'name'
      }
    ]
  }),
  computed: {
    // this.$store.state.artists.artists
    // this.$store.state.artists.artist
    ...mapState('artists', ['artists', 'artist'])
  },
  methods: {
    async addArtist() {
      await this.$store.dispatch('artists/addArtist', this.newArtistName)
      this.newArtistName = ''
      this.$toast.success(`Successfully added ${this.artist.name}`)
    }
  }
}
</script>
