<template>
  <v-app>
    <core-filter />
    <core-toolbar />
    <core-drawer />
    <v-content>
      <div id="core-view">
        <v-fade-transition mode="out-in">
          <nuxt />
        </v-fade-transition>
      </div>
      <core-footer v-if="$route.name !== 'Maps'" />
    </v-content>
  </v-app>
</template>

<style lang="scss">
/* Remove in 1.2 */
.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}

#core-view {
  padding-bottom: 100px;
}
</style>
