<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md4
        sm12
      >
        <material-card
          color="green"
          :title="artist.name"
        >
        <v-form @submit.prevent="updateArtist">
            <v-container py-0>
              <v-layout wrap>
                <v-flex md12>
                  <v-text-field
                    :rules="[() => !!artistName || 'This field is required']"
                    class="purple-input"
                    label="Name"
                    v-model="artistName"
                    ref="artistName"
                  >
                    artist.name
                  </v-text-field>
                </v-flex>
                <v-flex
                  xs12
                  text-xs-right
                >
                  <v-btn
                    class="mx-0 font-weight-light"
                    color="success"
                    type="submit"
                  >
                    Update
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </material-card>
      </v-flex>
      <v-flex
        md8
        sm12
      >
        <material-card
          color="green"
          title="Songs"
          :text="artistName"
        >
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  async fetch({ store, params }) {
    await store.dispatch('artists/fetchArtist', params.id )
  },
  computed: {
    // artist: () => this.$store.state.artists.artist
    ...mapState('artists', ['artist'])
  },
  data: () =>({
    artistName: ''
  }),
  methods: {
    async updateArtist() {
      await this.$store.dispatch('artists/editArtist', { 
        id: this.artist.id,
        name: this.artistName
      })
      this.$toast.success(`Successfully updated ${this.artist.name}`)
    }
  },
  mounted: function () {
    this.artistName = this.artist.name
  }
}
</script>
